
h1 {
     font-size: 30px;
     color: #fff;
     text-transform: uppercase;
     font-weight: 300;
     text-align: center;
     margin-bottom: 15px;
}
table {
     width:100%;
     table-layout: fixed;
     overflow-x: auto;
}
.table_header {
     margin-top: 1%;
     background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
}

.table_content {
     height: 500px;
     overflow-x:auto;
}
.table_content button {
	border-radius: 20px;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	padding: 12px 21px;
     margin: 1px 0px;
}

#delete_button {
     border: 1px solid #FF416C;
	background-color: #FF416C;
     float: left;
}

#delete_button_form {
     /* background-color: pink; */
     width: 50%;
}

#update_button {
     border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
     float: right;
}

#update_button_form {
     /* background-color: blue; */
     width: 50%;
     align-items: center;
}

#clipboard_button {
     border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
     align-items: center;
     margin-left: 5px;
}

#last_change {
     width: 9%;
}

#password {
     width: 20%;
     align-items: center;
     /* display: flex; */
     /* flex-direction: row; */
     /* flex-wrap: nowrap; */
}

#options {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     column-gap: 5px;
     /* float: right; */
}
th {
     padding: 20px 15px;
     padding-left: 1%;
     text-align: left;
     font-weight: 600;
     font-size: 12px;
     color: white;
     text-transform: uppercase;
}

td {
     padding: 2px 15px;
     text-align: left;
     font-weight: 300;
     font-size: 12px;
     color: black;
     border-bottom: solid 1px #FF4B2B;
     /* border-right: solid 1px #FF4B2B;
     border-left: solid 1px #FF4B2B; */
}

#add_button {
     padding: 20px 50px;
}

   /* demo styles */
   
   /* @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
   body{
     background: -webkit-linear-gradient(left, #25c481, #25b7c4);
     background: linear-gradient(to right, #25c481, #25b7c4);
     font-family: 'Roboto', sans-serif;
   }
   section{
     margin: 50px;
   } */
   
   
   /* follow me template */
   .made-with-love {
     margin-top: 40px;
     padding: 10px;
     clear: left;
     text-align: center;
     font-size: 10px;
     font-family: arial;
     color: #fff;
   }
   .made-with-love i {
     font-style: normal;
     color: #F50057;
     font-size: 14px;
     position: relative;
     top: 2px;
   }
   .made-with-love a {
     color: #fff;
     text-decoration: none;
   }
   .made-with-love a:hover {
     text-decoration: underline;
   }
   
   
   /* for custom scrollbar for webkit browser*/
   
   ::-webkit-scrollbar {
       width: 6px;
   } 
   ::-webkit-scrollbar-track {
       -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
   } 
   ::-webkit-scrollbar-thumb {
       -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
   }