#menu__toggle {
	opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
	transform: rotate(45deg);
	background-color: white;
}
#menu__toggle:checked + .menu__btn > span::before {
	top: 0;
	transform: rotate(0deg);
	background-color: white;
}
#menu__toggle:checked + .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
	background-color: white;
}
#menu__toggle:checked ~ .menu__box {
	left: 0 !important;
	background-color: white;
}
.menu__btn {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 2;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: black;
	transition-duration: .25s;
}
.menu__btn > span::before {
	content: '';
	top: -8px;
	background-color: black;
}
.menu__btn > span::after {
	content: '';
	top: 8px;
	background-color: black;
}
.menu__box {
	display: block;
	position: fixed;
	top: 0;
	left: -100%;
	width: 270px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
	transition-duration: .25s;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	color: white;
	z-index: 1;
}
/* .menu__item {
	display: block;
	padding: 12px 24px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	transition-duration: .25s;
} */
.menu__item a {
	display: block;
	padding: 12px 24px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	transition-duration: .25s;
}

.menu__item:hover {
	border-radius: 20px;
	/* border: 1px solid rgba(255, 255, 255, 0.5); */
	background-color: rgba(255, 255, 255, 0.5);
}

.menu__item {
	display: block;
	border-radius: 20px;
	border: 0px solid ;
	width: 95%;
	background-color: transparent;
	border-color: #FFFFFF;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	padding: 12px 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.menu__item:active {
	transform: scale(0.95);
}

.menu__item:focus {
	outline: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #FF4B2B;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

/* a:visited {
	color:blueviolet;
} */

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#search {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: right;
	flex-direction: row;
	padding-left: 80px;
	padding-right: 80px;
	height: 100%;
	width: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 5px 0;
	width: 25%;
	left: 0;
}

input[type="checkbox"] {
	width:min-content
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 1100px;
	max-width: 100%;
	min-height: 600px;
	max-height: 1000px;
}

.search_password button {
	margin-left: 3%;
}

.search_password h2 {
	margin-right: 10%;
	width: 50%;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

/* .table {
	display: flex;
	align-items: center;
	justify-content: center;
} */
/* 
.search_form {
	border-radius: 5px;
	border: solid 1px;
}

button {
	border-radius: 10px;
	border: solid 1px;
	transition: 200ms;
	margin: 3px;
}

button:hover {
	transform: translateY(-5px);
}

.table_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.table-responsive {
	width: 1850px;
} */