<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/alerts.css}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<div class="alerts" th:action="@{/registration}" th:object="${user}" method="post">
	<div th:if="${#fields.hasErrors('*')}" class="audun_warn">
		<div class="alert alert-danger">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Errors:
			<span th:each="error: ${#fields.errors('*')}" th:errors="*{user.firstName}"></span>
			<span th:each="error: ${#fields.errors('*')}" th:text="${field}"></span>
			<li th:each="error: ${#fields.errors('firstName')}">First Name: <b><b>[[${error}]]</b></b></li>
			<li th:each="error: ${#fields.errors('lastName')}">Last Name: <b>[[${error}]]</b></li>
			<li th:each="error: ${#fields.errors('email')}">E-mail: <b>[[${error}]]</b></li>
			<li th:each="error: ${#fields.errors('confirmEmail')}">Confirm E-mail: <b>[[${error}]]</b></li>
			<li th:each="error: ${#fields.errors('password')}">Password: <b>[[${error}]]</b></li>
			<li th:each="error: ${#fields.errors('confirmPassword')}">Confirm Password: <b>[[${error}]]</b></li>
			<li th:each="error: ${#fields.errors('terms')}">Terms and Conditions: <b>[[${error}]]</b></li>

		</div>
	</div>

	<div th:if="${param.info}" class="audun_info">
		<i class="fa fa-info-circle" aria-hidden="true"></i>
		EXAMPLE INFORMATION
	</div>
	
	<div th:if="${param.success}" class="audun_success">
		<div class="alert alert-info">
			<i class="fa fa-check-circle" aria-hidden="true"></i>
			You have succesfully registered your data.
		</div>
	</div>
</div>
<!-- <div class="alerts">
	<div th:if="${param.error}" class="audun_warn">
		<div class="alert alert-danger">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Errors:
			<li>This user is not active or invalid username/password.</li>
		</div>
	</div>

	<div th:if="${param.info}" class="audun_info">
		<i class="fa fa-info-circle" aria-hidden="true"></i>
		EXAMPLE INFORMATION
	</div>
	
	<div th:if="${param.logout}" class="audun_success">
		<div class="alert alert-info">
			<i class="fa fa-check-circle" aria-hidden="true"></i> Success:
			<li>You have been succesfully logged out.</li>
		</div>
	</div>
</div>	 -->

<body>
	<div class="container" id="container">
		<div class="form-container sign-in-container">
			<form th:action="@{/token}" method="post">
				<h1>Token Validator</h1>
				<br>
				<div class="form-group">
					<input type="text" id="email" name="email" class="form-control" autofocus="autofocus" placeholder="Email" />
				</div>
				<div class="form-group">
					<input type="password" id="token" name="token" class="form-control" placeholder="Token" />
				</div>
				<br>
				<div class="form-group">
					<button type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Sumbit">Submit</button>
				</div>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h1>Already registered?</h1>
					<p>Go to login page:</p>
					<button class="ghost" id="signUp" onclick="window.location='/';" value="Sign In">Sign In</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>

</html>