<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/alerts.css}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<!-- <div class="alerts" th:action="@{/registration}" th:object="${user}" method="post">
	<div th:if="${#fields.hasErrors('*')}" class="audun_warn">
		<div class="alert alert-danger">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Errors:
			<span th:each="error: ${#fields.errors('*')}" th:errors="*{user.firstName}"></span>
			<span th:each="error: ${#fields.errors('*')}" th:text="${field}"></span>
			<li th:each="error: ${#fields.errors('firstName')}">First Name: <b><b>[[${error}]]</b></b></li>
			<li th:each="error: ${#fields.errors('lastName')}">Last Name: <b>[[${error}]]</b></li>
			<li th:each="error: ${#fields.errors('email')}">E-mail: <b>[[${error}]]</b></li>
			<li th:each="error: ${#fields.errors('confirmEmail')}">Confirm E-mail: <b>[[${error}]]</b></li>
			<li th:each="error: ${#fields.errors('password')}">Password: <b>[[${error}]]</b></li>
			<li th:each="error: ${#fields.errors('confirmPassword')}">Confirm Password: <b>[[${error}]]</b></li>
			<li th:each="error: ${#fields.errors('terms')}">Terms and Conditions: <b>[[${error}]]</b></li>

		</div>
	</div>

	<div th:if="${param.info}" class="audun_info">
		<i class="fa fa-info-circle" aria-hidden="true"></i>
		EXAMPLE INFORMATION
	</div>
	
	<div th:if="${param.success}" class="audun_success">
		<div class="alert alert-info">
			<i class="fa fa-check-circle" aria-hidden="true"></i>
			You have succesfully registered your data.
		</div>
	</div>
</div> -->
	
<h2>Update this entry</h2>

<body>
	<div class="container" id="container">
		<div class="form-container sign-in-container">
			<form th:action="@{'/password/update/save/{id}'(id=${password.id})}"
				  th:object="${password}" method="post">
				<h1>Edit existing details</h1>
				<br>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
					<input id="firstName" class="form-control" th:field="*{email}" placeholder="Login"/>
					<p class="error-message"
						th:each="error: ${#fields.errors('email')}"
						th:text="${error}">Validation error</p>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('url')}? 'has-error':''">
					<input id="lastName" class="form-control" th:field="*{url}" placeholder="Website url"/>
					<p class="error-message"
						th:each="error : ${#fields.errors('url')}"
						th:text="${error}">Validation error</p>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('passwordHash')}? 'has-error':''">
					<input id="email" class="form-control" th:field="*{passwordHash}" placeholder="Password"/>
					<p class="error-message"
						th:each="error : ${#fields.errors('passwordHash')}" th:text="${error}">Validation
						error</p>
				</div>
				<div class="form-group">
					Sugested password:
					<i th:text="${strongPass}">we suggest</i>
				</div>
				<br>
				<div class="form-group">
					<button type="submit" class="btn btn-success">Update</button>
				</div>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h1>Need to use other passwords?</h1>
					<p>Go back to main page:</p>
					<button class="ghost" id="signUp" onclick="window.location='/';" value="Home">Home</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>

</html>